#defaulJumbotron {
    background-image:url('/assets/textures/tweed.png');                 
    background-repeat: repeat;

    color: #f6f6f6;
    text-align: center;
    min-height: 360px;
    margin-top: 33px;
}

.jumbotron h1, .jumbotron .h1 {
font-size: 83px;
}

.jumbotron p {
font-size: 29px;
}

.center{
	text-align: center;
}

.BMheading-small{
    width: 178px;
}

#defaultPageContainer{
	text-align: justify;
	
}

body{
    font-size: 16px;
    color: #545454;
}

footer {
margin-top: 60px;
padding-right: 20px;
padding-left: 20px;
height: 80px;
text-align: center;
background-image: url('/assets/textures/cream_dust.png');
background-repeat: repeat;
}

.row {
    display: table;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}