/*Here is all the stuff concerning the index_1*/
h1, h2{
	font-weight: bold;
}

/*mainRowContainer elements */
#mainRowContainer{
/*This row is where ads, tips and center row are contained */
background-image:url('/assets/textures/cream_dust.png');
background-repeat: repeat;
}

/*Tips elements*/
#leftInfoText{
	text-align: justify;
}

/*Adds elements*/
#adsBox {
	text-align: center;
}


/*blind elements and friends*/
#blinde{
width: 100%;
height: 100%;
position: fixed;
top: 0px;
left: 0px;
background-color: rgba(1,1,1,.8);
z-index: 20;
}


#blindeMainContent{
padding: 10px;
width: 70%;
top: 70px;
left: 15%;
position: absolute;
}

/*form elements (the add form)*/
.formHeading{
border: solid 1px #d9d9d9;
background-color: #d9d9d9;
padding-left: 10px;
font-weight: 800;
font-size: 16px;
}

#closeForm{
position: fixed;
top: 92px;
left: 78%;
color: black;
font-size: 16px;
cursor: pointer;
}




/* Financial statement title and friends*/
#financialStatementTitle {
margin: 0px 0px;
text-align: center;
}

#financialStatementTitle, .financialStatementSubContainer{
border: solid 1px #d9d9d9;
}

/* Financial statement sub containers and friends*/
.financialStatementSubContainer{
/* financial statement sub container these are the little boxes e.g. incomes, expenses, assets. */
margin-bottom: 30px;
}

.financialStatementHeadind {
background-color: #d9d9d9;
padding: 0px 8px;
font-weight: 800;
font-size: 16px;
}

.statementAdd{
/* These are the add boxes that are in the bottom of the F.S. sub containers. */
border-top: solid 1px #d9d9d9;
padding: 5px 8px;
text-align: right;
}

/* Filter Bar */
#modeBar_navBar{
background-color: #fff;
border-color: #e4e4e4;
}

/* btn*/

.btn, .form-control{
border-radius: 0px;
}

