/* --  04/07/2014. Override */
body{
background-image:url('/assets/textures/bg-body.jpg');
background-repeat: repeat;
background-attachment: none;
}

#mainRowContainer{
background-image: none;
background-repeat: repeat;
}

#leftInfoText{
padding-bottom: 20px;
margin-bottom: 30px;
}

#financialStatementTitle {
border: none;
padding-bottom: 8px;
background-color: #fff;
}

#financialStatementText{
cursor: pointer;
margin-top: 15px;
margin-bottom: 3px;
}

#financialStatementTitle, .financialStatementSubContainer, #leftInfoText,  .modal-content{
border: solid 3px #191919;
}

.financialStatementSubContainer, #leftInfoText{
background-color: #fff;
}

.financialStatementHeadind, .modal-header {
background-color: #4f4f4f;
text-align: center;
font-weight: normal;
font-size: 25px;
color: #ccc;
line-height: 35px;
height: 40px;
font-family: 'Nunito', 'Pacifico', sans-serif;
}

/* modal atributes */
.modal-header{
padding: 5px 8px;
}

.modal-content {
border-radius: 0px;
}

.modal-backdrop.in {
opacity: .8;
}


/* --  04/09/2014. Override - Light--*/
#financialStatementTitle, .financialStatementSubContainer, #leftInfoText{
-moz-box-shadow: 0 0 30px 5px #999;
-webkit-box-shadow: 0 0 30px 5px #999;
border: none;
}

#modeBar_navBar{
-moz-box-shadow: 0 0 30px 5px #999;
-webkit-box-shadow: 0 0 30px 5px #999;
}

.financialStatementHeadind, .modal-header {
background-color: #2a2a2a;
color: #f1f1f1;
}

.modal-title{
line-height: 30px;
}

.modal-content{
border: none;
}



/* --  06/09/2014. Override - Dark.. *
body{
background-image: none;
background-color: #3f3f3f;
}

#financialStatementText, .financialStatementSubContainer, #leftInfoText, .navbar{
-moz-box-shadow: 0 0 30px 5px #151515;
-webkit-box-shadow: 0 0 20px 2px #151515;
}
*/
