/* Top Level Components */
body {
 	font-family: 'Allerta', sans-serif;
 	font-family: 'Nova Square', cursive;
 	font-family: 'Roboto', sans-serif;

	background-image:url('/assets/textures/tweed.png');
	background-repeat: repeat;
	background-attachment: fixed;

	max-width: 100%;
    overflow-x: hidden;
}

footer {
	padding-right: 20px;
	padding-left: 20px;
	height: 80px;
	text-align: center;

	background-image:url('/assets/textures/cream_dust.png');
	background-repeat: repeat;
}

.navbar {
font-size: medium;
}

.table-hover tbody:hover td{
  cursor: pointer;
}

#modeBar_navBar{
margin-top: 52px;
border-radius: 0;
border-width: 0 0 1px;
}








