    <!--- This user has logged out, change the value of the session.allowin value ---> 
	<cfscript>
   	StructClear(Session.user);
   </cfscript>
	<cfset session.user.allowin = "False">
    <cfset session.user.userID = 0>
    <cfset session.user.userlevel = 0>
    
    <!--- redirect to "default.cfm" --->
    <cflocation url="default.cfm">