<cfset finfunc = CreateObject("cfc\financialStFunctions") />
<cfset finman = CreateObject("cfc\financialStManager") />


<cfset assetsAll = finfunc.Get_Assets_All_Depth(#session.user.userRootFSID#)>
<cfdump var = #assetsAll#>

<cfset assetsAll = finfunc.Get_Assets_E_D_All_Depth(#session.user.userRootFSID#)>
<cfdump var = #assetsAll#>

  

<cfset liabilitysAll = finfunc.Get_Liabilities_All_Depth(#session.user.userRootFSID#)>
<cfdump var = #liabilitysAll#>

<cfset liabilitysAll = finfunc.Get_Liabilities_E_D_All_Depth(#session.user.userRootFSID#)>
<cfdump var = #liabilitysAll#>
