/* --- Styleee -----*/

body{
background-image:url('/assets/textures/tweed.png');
background-repeat: repeat;
background-attachment: fixed;

}

#mainRowContainer{
margin-top: 20px;
padding-top: 40px;
padding-bottom: 40px;
background-image:url('/assets/textures/cream_dust.png');
background-repeat: repeat;
}

footer{
background-image:url('/assets/textures/cream_dust.png');
background-repeat: repeat;
}

#incomesContainer{
margin-bottom: 20px;

}