/* Move down content because we have a fixed navbar that is 50px tall */
body {
 	padding-top: 50px;
 	padding-bottom: 20px;
 	font-family: 'Allerta', sans-serif;
 	font-family: 'Nova Square', cursive;
 	font-family: 'Roboto', sans-serif;
 	font-weight: 400;
	font-size: 15px;
}

footer {
	padding-right: 15px;
	padding-left: 15px;
	height: 39px;
	border-top: solid 1px #dbdbdb;
	border-bottom: solid 1px #dbdbdb;
	line-height: 40px;
	margin-top: 10px;
	text-align: center;
}

#leftInfoText{
	padding-top: 100px;
	padding-bottom: 30px;
	text-align: justify;
}

#adsBox {
	/*background-color: grey;*/
	height: 600px;
	text-align: center;
}

#financialStatementTitle {
	text-align: center;
	border-radius: 5px;
	border: solid 1px #d9d9d9;
	margin-top: 10px;

}

.formHeading, .financialStatementHeadind {
border: solid 1px #d9d9d9;
background-color: #d9d9d9;
padding-left: 10px;
font-weight: 800;
font-size: 16px;
}

.financialStatementSubContainer{
	border: solid 1px #d9d9d9;

}

.statementAdd{
	text-align: right;
	border-top: solid 1px #dbdbdb;
	padding: 5px 10px;
}

#blinde{
width: 100%;
height: 100%;
position: fixed;
top: 0px;
left: 0px;
background-color: rgba(1,1,1,.8);
z-index: 20;
}


#blindeMainContent{
padding: 10px;
width: 70%;
top: 70px;
left: 15%;
position: absolute;
}

#closeForm{
position: fixed;
top: 92px;
left: 78%;
/* background-color: white; */
color: black;
font-size: 16px;
cursor: pointer;
}

.table-hover tbody:hover td{
  cursor: pointer;
}


