<cfset userman = CreateObject("cfc\userManager") />
Form: <br>
<cfdump var=#form#>
<cfset return = userman.Create_user(#form.USERNAME#, #form.USEREMAIL#, #form.USERUSERNAME#, #form.USERPASSWORD#)>
<cfdump var=#return#>