<cfquery name="login" datasource="finfun_database">
    SELECT * FROM dbUser
</cfquery>
users: <br>
<cfdump var = #login#>

<cfquery name="financialStParents" datasource="finfun_database">
    SELECT * FROM dbFinancialSt WHERE dbFinancialSt_ParentFS_ID = 0
</cfquery>
Financial St Parents: <br>
<cfdump var = #financialStParents#>