<!--- ////////////////////////////////////////////////////
// Copyright Fin-Fun Company 2014. All Rights Reserved. 

// <company address> 

//  The copyright to the computer program(s) herein
//  is the property of Fin-Fun Company, Mexico. The
//  program(s) may be used and/or copied only with the
//  written permission of Fin-Fun Company or in accordance
//  with the terms and conditions stipulated in the
//  agreement/contract under which the program(s) have
//  been supplied. This copyright notice must not be 
//  removed.


// File Description:
// - <text>
// 
// Authors: 
// -Hector Saul Ortigoza Mendez,   Mexico. 
////////////////////////////////////////////////////// --->

<div class="row" id="leftInfoText" style="background-color: #2a2a2a;  color: #f1f1f1;">
<div class="col-sm-12">
<h2 style="text-align: center;">Adds</h2>
<div class="loading" style="text-align: center;"> Loading.....</div>
</div></div>

<div class="row" id="leftInfoText" style="background-color: #2a2a2a;  color: #f1f1f1;">
<div class="col-sm-12">
<h2 style="text-align: center;">Adds</h2>
<div class="loading" style="text-align: center;"> Loading.....</div>
</div></div>


<div class="row" id="leftInfoText" style="background-color: #2a2a2a;  color: #f1f1f1;">
<div class="col-sm-12">
<h2 style="text-align: center;">Adds</h2>
<div class="loading" style="text-align: center;"> Loading.....</div>
</div></div>